$verdeazuloso: #004445;
$amarillo: #fafa28;
$rojo: #eb0f07;
$verde: #0a6304;

@mixin margenes ($top ,$bottom)
{
	margin-top : $top;
	margin-bottom : $bottom;

}

body{
	
	background-color:#faf5e4
}
footer{
	padding: 10px 0px 0px 10px;
	background-color:$verdeazuloso;
	color:#faf5e4;
	@include margenes(10px,0px);
	
	text-decoration:none
}
.titulo_principal{
	color:$verdeazuloso;
	
}
.jumbotron{
	background-color:#f8b400;
	color:black;
	@include margenes(50px,0px);

}

.footer_link{
	color:#faf5e4;
	text-decoration: none;
}

.img-vehiculos {
	/*padding: 10px 5px 10px 5px;*/
	
	display: block;
  margin-left: auto;
  margin-right: auto;
	width: 80%;
}
.card-taxi{
	@include margenes(10px,10px);

}

.btn-reserva{
	/*width: 100%;*/
	background-color:$verdeazuloso;
}
.icon-footer{
	padding-right: 10px;
}

.subtitulo_pagina{
	color:$verdeazuloso;
}
	
.texto-collapse{
	@include margenes(5px,0px);
}