body {
  background-color: #faf5e4;
}
footer {
  padding: 10px 10px 0px 10px;
  background-color: #004445;
  color: #faf5e4;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  text-decoration: none;
}
.titulo_principal {
  color: #004445;
}
.jumbotron {
  background-color: #f8b400;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.footer_link {
  color: #faf5e4;
  text-decoration: none;
}
.img-vehiculos {
  /*padding: 10px 5px 10px 5px;*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.card-taxi {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
}
.btn-reserva {
  /*width: 100%;*/
  background-color: #004445;
  /*#2c786c;*/
}
.icon-footer {
  padding-right: 10px;
}
.subtitulo_pagina {
  color: #004445;
}
.texto-collapse {
  margin-top: 5px;
}
