@verdeazuloso: #004445;
@amarillo: #fafa28;
@rojo: #eb0f07;
@verde: #0a6304;

.margenes (@top : 10px, @right : 0px,@bottom: 10px,@left: 0px)
{
	margin-top : @top;
	margin-bottom : @bottom;
	margin-left : @left;
	margin-right: @right;
}
body{
	
	background-color:#faf5e4
}
footer{
	padding: 10px 0px 0px 10px;
	background-color:@verdeazuloso;
	color:#faf5e4;
	.margenes(10px,0px,0px,0px);
	
	text-decoration:none
}
.titulo_principal{
	color:@verdeazuloso;
	
}
.jumbotron{
	background-color:#f8b400;
	color:black;
	.margenes(50px,0px,0px,0px);

}

.footer_link{
	color:#faf5e4;
	text-decoration: none;
}

.img-vehiculos {
	/*padding: 10px 5px 10px 5px;*/
	
	display: block;
  margin-left: auto;
  margin-right: auto;
	width: 80%;
}
.card-taxi{
	.margenes(10px,0px,10px,0px);

}

.btn-reserva{
	/*width: 100%;*/
	background-color:@verdeazuloso;/*#2c786c;*/
}
.icon-footer{
	padding-right: 10px;
}

.subtitulo_pagina{
	color:@verdeazuloso;
}
	
.texto-collapse{
	.margenes(5px,0px,0px,0px);
}